.header {
	display: flex;
	align-items: flex-end;
	margin-bottom: 1rem;
}

.header-title {
	margin: 0;
	margin-right: 0.5rem;
	font-size: 2.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.header-desc {
	color: #6c757d;
}